In [8]:
from scipy.io import mmread
import pandas as pd
import numpy as np

# Read the .mtx file
# file found under https://www.ebi.ac.uk/gxa/sc/experiments/E-MTAB-2983/downloads
matrix = mmread('data/GSE294399_WBC_020823_matrix.mtx/matrix.mtx')

# The matrix is now a sparse matrix in COO format
print(matrix)

# To convert to a dense array
dense_matrix = matrix.toarray()
df = pd.DataFrame(dense_matrix)
#df.to_csv("matrix.csv", index=False)
df_cluster = pd.read_csv("cluster_marker_genes.csv")
df_cell_gene_presence = pd.read_csv("cell_gene_presence.csv")
# TODO: amend the R scripts to output the number of times each gene is expressed

<COOrdinate sparse matrix of dtype 'int64'
	with 4238536 stored elements and shape (36630, 4137)>
  Coords	Values
  (59, 0)	1
  (73, 0)	1
  (113, 0)	1
  (285, 0)	1
  (297, 0)	2
  (350, 0)	4
  (370, 0)	1
  (431, 0)	1
  (438, 0)	1
  (470, 0)	1
  (482, 0)	2
  (492, 0)	1
  (527, 0)	1
  (559, 0)	1
  (565, 0)	1
  (593, 0)	8
  (629, 0)	2
  (631, 0)	1
  (640, 0)	1
  (647, 0)	1
  (666, 0)	1
  (669, 0)	1
  (683, 0)	5
  (785, 0)	1
  (804, 0)	6
  :	:
  (36604, 4136)	275
  (36606, 4136)	47
  (36607, 4136)	7
  (36608, 4136)	5
  (36609, 4136)	28
  (36610, 4136)	63
  (36611, 4136)	1
  (36612, 4136)	860
  (36613, 4136)	2
  (36614, 4136)	388
  (36615, 4136)	5
  (36616, 4136)	1
  (36617, 4136)	3
  (36618, 4136)	160
  (36619, 4136)	24
  (36620, 4136)	6
  (36621, 4136)	384
  (36622, 4136)	1
  (36623, 4136)	6
  (36624, 4136)	3
  (36625, 4136)	1
  (36626, 4136)	23
  (36627, 4136)	2
  (36628, 4136)	126
  (36629, 4136)	3

In [10]:
df_cell_gene_presence
# 4137 cells x 36629 genes

,1,1.1,991,1.2,3,5,6,7,8,9,...,Unnamed: 1766,Unnamed: 1767,Unnamed: 1768,Unnamed: 1769,Unnamed: 1770,Unnamed: 1771,Unnamed: 1772,Unnamed: 1773,Unnamed: 1774,Unnamed: 1775
0,2,2,1763,1,2,3,4,5,6,7,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,3,1728,1,2,3,4,5,6,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,1,991,1,3,5,6,7,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,1,991,1,3,5,6,7,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,1,991,1,3,5,6,7,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093,4095,1,991,1,3,5,6,7,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4094,4096,3,1728,1,2,3,4,5,6,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4095,4097,3,1728,1,2,3,4,5,6,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4096,4098,1,991,1,3,5,6,7,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4097,4099,1,991,1,3,5,6,7,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_cluster

      CellNumber  Cluster  DistanceToCentroid
0              1        1          163.476485
1              2        2          229.389733
2              3        3          188.079242
3              4        1          132.951126
4              5        1          157.536788
...          ...      ...                 ...
4094        4095        1           88.199034
4095        4096        3          222.975881
4096        4097        3          130.076074
4097        4098        1          136.130118
4098        4099        1           65.275022

[4099 rows x 3 columns]